<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
<h1 class="header">Weather</h1>
    <div class="form-container-settings-wrapper">

        <div class="form-pages-container">
            <p class="anzeige" id="weather"> {{ temperature }} °C</p>
        </div>

    </div>


<script>
        function updateTime() {
            fetch('/api/temperature')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('weather').textContent = `${data.temperature}`;
                });
        }

        // Starte das Update sofort und dann alle 10 Sekunden
        updateTime();
        setInterval(updateTime, 900000); // 10.000 ms = 10 Sekunden

    // Navbar hover effect
    document.addEventListener("DOMContentLoaded", () => {
  const menu = document.querySelector('.menu-bar');
  const items = document.querySelectorAll('.menu-bar li');
  const hoverBg = document.querySelector('.hover-bg');

  items.forEach(item => {
    item.addEventListener('mouseenter', () => {
      const rect = item.getBoundingClientRect();
      const parentRect = menu.getBoundingClientRect();

      hoverBg.style.width = `${rect.width}px`;
      hoverBg.style.left = `${rect.left - parentRect.left}px`;
      hoverBg.style.opacity = '1';
      hoverBg.style.transform = 'scale(1.08)';
    });

    item.addEventListener('mouseleave', () => {
      hoverBg.style.transform = 'scale(1)';
    });
  });

  menu.addEventListener('mouseleave', () => {
    hoverBg.style.opacity = '0';
    hoverBg.style.transform = 'scale(1)';
  });
});
    </script>

</body>
</html>
